{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="title">
            <h1>Список дел</h1>
        </div>
        {% for task in tasks %}
            <div class="todo_content">
                <div class="todo_title">{{ loop.index }}. {{task.title}}</div>
                <div class="todo_text">{{ task.text }}</div>
            </div>
        {% endfor %}
        <button class="ok">OK</button>
    </div>

    <script>

        let source = new EventSource('stream')
        source.addEventListener('new_message', event => {
            console.log(event.data)
            let h = document.querySelector('.title');
            h.classList.add('add_new')
        });

        let btn = document.querySelector('.ok')
        btn.addEventListener('click', function (event){
            let h = document.querySelector('.title')
            h.classList.remove('add_new')
            event.preventDefault()
        })

    </script>
{% endblock %}